@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&amp;display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}

.rbc-toolbar .rbc-btn-group > button{
  line-height: 1;
}

.rbc-header:first-child{
  @apply text-red-500;
}
.rbc-header:last-child{
  @apply text-blue-500;
}

:root {
  --seat-selected-color: #2dbcb6;
  --seat-reserved-color: #4B4B4B;
  --seat-maintain-color: #ED1A3B;
  --background-color: #DAE5DA;
}

.screenImg .svg {
  user-select: none;
}

#seatmap > g {
  cursor: pointer;
}

.screenImg g#seatmap text {
  font-family: 'Noto Sans', 'sans-serif';
}

.screenImg g.selected polygon,
.screenImg g.selected circle,
.screenImg g.selected path {
  fill: var(--seat-selected-color);
}

.screenImg g.unavailable polygon,
.screenImg g.unavailable circle,
.screenImg g.unavailable path {
  fill: var(--seat-reserved-color);
  pointer-events: none;
}
.screenImg g.unavailable text {
	fill: gray;
}

.screenImg g.maintain polygon,
.screenImg g.maintain circle,
.screenImg g.maintain path {
  fill: var(--seat-maintain-color);
}

.screenImg .st0 {
  font-family: 'Noto Sans';
}

.screenImg .st1 {
  fill: none;
  stroke: #000000;
  stroke-width: 4;
}

.screenImg .st2 {
  fill: #003300;
}

.screenImg .st3 {
  font-size: 16px;
}

.screenImg .st4 {
  fill: var(--background-color);
}

.screenImg .st5 {
  font-size: 20px;
}

.Polaris-Modal-CloseButton {
  align-self: start;
}